# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore environment and local settings
.env
.vscode/
.idea/
.DS_Store

# Ignore model weights and logs
logs/
results/
uploads/
app/models/fine_tuned_model.zip
app/models/fourth_fine_tuned_model


# Ignore virtual environments
venv/
env/
*.egg-info/

# Ignore Jupyter/IPython notebooks
*.ipynb_checkpoints

# OS files
Thumbs.db
